/* =================================
   TABLET
   ================================= */

@media (max-width: 992px) {

    :root {
        --space-3xl: 4rem;
    }
}


/* =================================
   MOBILE
   ================================= */

@media (max-width: 768px) {

    :root {
        --space-2xl: 2rem;
        --space-3xl: 3rem;
    }

    body {
        font-size: 15px;
    }
}


/* =================================
   SMALL MOBILE
   ================================= */

@media (max-width: 480px) {

    body {
        font-size: 14px;
    }
}